// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Load fonts to use within app
@font-face {
  font-family: 'fingerpaint';
  src: url("../assets/fonts/FingerPaint-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'doppio';
  src: url("../assets/fonts/DoppioOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'architect';
  src: url("../assets/fonts/ArchitectsDaughter-Regular.ttf") format("truetype");
}

$font-fingerpaint: 'fingerpaint', cursive, sans-serif;
$font-doppio: 'doppio', cursive, sans-serif;
$font-architect: 'architect', cursive, sans-serif;

ion-header {
  background: #5e87b0;

  ion-title {
    font-family: $font-doppio;
  }

  .toolbar-title {
    color: white;
    line-height: 2;
    background-image: url("../assets/icon/freshwater-logo.png");
    background-repeat: no-repeat;
    background-position: 31% 50%;
    background-size: 32px 32px;
    height: 80%;
  }
  .toolbar-background {
    background: #5e87b0;
  }

}

h2 {
  font-family: $font-architect;
}